/**
 * Inter font from google
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/**
 * Color palette chosen from coolors.co
 * Dodger blue:       0496ff
 * Oxford Blue:       1b263b
 * Lavender (web):    e1e5f2
 * Dark pastel green: 4cb944
 * "Red (Pantone):    e71d36
 *
 * Palette https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd
 * "Rich black":"0d1b2a",
 * "Oxford Blue":"1b263b",
 * "YInMn Blue":"415a77",
 * "Silver Lake Blue":"778da9",
 * "Platinum":"e0e1dd"
 */

:root {
  --header-font-color: #0d1b2a;
  --main-font-color: #1b263b;
  --accent-color: #778da9;
  --background-color: #e0e1dd;

  --button-color: #0ADD08;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
		--header-font-color: #e0e1dd;
		--main-font-color: #778da9;
		--accent-color: #1b263b;
		--background-color: #0d1b2a;
  }
}
*/

body {
    margin: 0;
    padding: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-color);

    font-family: 'Inter', sans-serif;
    color: var(--main-font-color);
}

.vcent {
		display: flex;
    justify-content: center;
    align-items: center;
		min-height: 80vh;
}

h1, h2, h3 {
    color: var(--header-font-color);
    text-align: center;
}
.cent {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: inherit;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--button-color);
    border-color: var(--accent-color);
    border-radius: 0.5rem;
}

@media (max-width: 600px) {
    body {
        padding: 0.5rem;
    }
}
